
{% extends 'production/base.html' %}

{% block content %}
{% load staticfiles %}


        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>
                      Graficos
                  </h3>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">


              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                  <div class="x_content">
                    <div id="chart_1"></div>
                    <!--<div id='chart_1'></div>-->
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_content">
                    <!--<canvas id="mybarChart"></canvas>-->
                    <div id="contenedor"></div>
                  </div>
                </div>
              </div>
            </div>


            <div class="clearfix"></div>


            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_content">
                    <!--<canvas id="canvasRadar"></canvas>-->
                    <div id='chart_2'></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_content">
                    <!--<canvas id="canvasDoughnut"></canvas>-->
                     <div id='chart_5'></div>
                  </div>
                </div>
              </div>
            </div>


            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">

                  <div class="x_content">
                    <!--<canvas id="pieChart"></canvas>-->
                     <div id='chart_3'></div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_content">
                    <div id="chart_4"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">

                  <div class="x_content">
                    <!--<canvas id="pieChart"></canvas>-->
                     <div id='chart_6'></div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_content">
                    <div id="chart_7"></div>
                  </div>
                </div>
              </div>
            </div>

              <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">

                  <div class="x_content">
                    <!--<canvas id="pieChart"></canvas>-->
                     <div id='chart_8'></div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_content">
                    <div id="chart_9"></div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- /page content -->

      </div>
    </div>

    <!-- jQuery -->
    <script type="text/javascript" src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- FastClick -->
    <script type="text/javascript" src="{% static 'vendors/fastclick/lib/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script type="text/javascript" src="{% static 'vendors/nprogress/nprogress.js' %}"></script>
    <!-- Chart.js -->
    <!--<script type="text/javascript" src="{% static 'vendors/Chart.js/dist/Chart.min.js' %}"></script>-->
    <!-- Highcharts -->
    <script type="text/javascript" src="{% static 'js/highcharts.js' %}"></script>

    {% load chartit %}
    {{ weatherchart|load_charts:"chart_1,chart_2,chart_3,chart_4,chart_5,chart_6,chart_7,chart_8,chart_9" }}

    <!-- Custom Theme Scripts -->
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

    <!-- Chart.js -->


    <script>
      $(function () {
            //var data_graph1 = {{ data_graph.0 }};
            //var data_graph2 = {{ data_graph.2.0 }};
            //alert({{ data_graph.2 }});
            $('#contenedor').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Gastos en general año 2016'
                },
                subtitle: {
                    text: 'Fuente: constructora-raices.cl'
                },
                xAxis: {
                    categories: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Nombiembre','Diciembre'],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Gastos (MM)'
                    }
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [
                    {
                    name: 'ALEXIS',
                    data: {{ data_graph.2.0 }}
                },
                {
                    name: 'CAMILO',
                    data: {{ data_graph.2.1 }}
                },
                {
                    name: 'EMPRESA',
                    data: {{ data_graph.2.2 }}
                },
                {
                    name: 'FAMILIA',
                    data: {{ data_graph.2.3 }}
                },
                {
                    name: 'FRANCISCO',
                    data: {{ data_graph.2.4 }}
                },
                {
                    name: 'JUAN',
                    data: {{ data_graph.2.5 }}
                },
                {
                    name: 'OBRAS',
                    data: {{ data_graph.2.6 }}
                },
                ]
            });
        });
    </script>
    <!-- /Chart.js -->
{% endblock content %}